<div class="wrapper">
  <div class="container justify-content-center">
    <div class="row">
      <div class="col-sm d-flex justify-content-center">
        <div class="card">
          <img
            class="card-img"
            src="assets/image/ur5e.png"
            alt="Card image"
            style="opacity: 0.7"
          />
          <div
            class="card-img-overlay d-flex justify-content-center flex-column"
          >
            <div class="card-title-container">
              <span class="card-title">UR5e Controllor</span>
            </div>
            <p class="card-text">Manual control of the UR5e robot arm.</p>
            <a [routerLink]="['/ur5e-visual']" class="stretched-link"></a>
          </div>
        </div>
      </div>

      <div class="col-sm d-flex justify-content-center">
        <div class="card">
          <img
            class="card-img"
            src="assets/image/fitting.jpeg"
            alt="Card image"
            style="opacity: 0.7"
          />
          <div
            class="card-img-overlay d-flex justify-content-center flex-column"
          >
            <div class="card-title-container">
              <span class="card-title">Intelligent Assembly</span>
            </div>
            <p class="card-text">
              Assembly of plumbing fittings using AI models.
            </p>
            <a [routerLink]="['/ur5e-command']" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
