<div class="header-container">
    <div class="title-container">
        <h6>
            <a routerLink="./" class="title-link">Future Lab - Language-Conditioned Cobot Control Web App</a>
        </h6>
    </div>
    <div class="logo-container">
        <a href="https://www.e3d.rwth-aachen.de/cms/~iyld/E3D/" target="_blank" rel="noopener noreferrer">
            <img src="https://www.e3d.rwth-aachen.de/global/show_picture.asp?id=aaaaaaaaaaoaxmm" alt="E3D Logo" class="logo">
        </a>
    </div>
</div>
